<!doctype html>
<head>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<title>Promotions  {{ promotion.code }}</title>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
</head>

<div class="p-20 flex flex-col gap-5 w-1/2 m-auto">
    <h1 class="text-2xl">Promotion Edit (ID: {{ promotion.id }})</h1>
    <div class="rounded-lg bg-gray-100 p-5">
        <form id="form_data" class="ui form">
            {% if not promotion.is_valid() %}
            <div class="ui negative message" id="error-invalid-pormotion">
                <i class="close icon"></i>
                <div class="header">
                  Invalid Promotion
                </div>
                <p>Please update the available count, start time and expired time to re-active the promotion</p>
              </div>
            {% endif %}

            <h4 class="ui dividing header">Basic</h4>
            <div class="field">
                <label>Name</label>
                <input id="fld-name" type="text" name="name" placeholder="Promotion Name" value="{{ promotion.name }}">
            </div>

            <div class="field">
                <label>Code</label>
                <input id="fld-code" type="text" name="code" value="{{ promotion.code }}" disabled>
            </div>

            <div class="field">
                <label>Start</label>
                <input id="fld-start" type="date" name="start" value="{{ promotion.start }}">
            </div>

            <div class="field">
                <label>End</label>
                <input id="fld-end" type="date" name="end" value="{{ promotion.expired }}">
            </div>

            <div class="field">
                <label>Available Count</label>
                <input id="fld-available" type="number" name="available" value="{{ promotion.available}}">
            </div>
                
            <h4 class="ui dividing header">Type</h4>
            <div class="field">
                <label>Type</label>
                <select id="sel-type" name="type" class="ui dropdown selection">
                    <option value="1" {{ 'selected' if promotion.promo_type == 1 else '' }}>Percentage</option>
                    <option value="2" {{ 'selected' if promotion.promo_type == 2 else '' }}>Fixed Amount</option>
                    <option value="3" {{ 'selected' if promotion.promo_type == 3 else '' }}>Other</option>
                </select>
            </div>

            <div class="field">
                <label>value</label>
                <input id="fld-val" type="number" step="0.01" name="value" value="{{ promotion.value }}" >
            </div>

            <h4 class="ui dividing header">Product</h4>
            <div class="field">
                <div class="ui checkbox">
                    <input id="chk-whole-store" type="checkbox" name="whole_store" value="true" {{ 'checked' if promotion.whole_store else '' }} class="hidden">
                    <label>Whole Store</label>
                </div>
            </div>

            <div class="field">
                <label>Product</label>
                <div class="ui fluid multiple search selection dropdown" id="product-select">
                    <input id="sel-products" type="hidden" value="{{ ','.join(promotion.product_ids()) }}">
                    <i class="dropdown icon"></i>
                    <div class="default text">Product(s)</div>
                    <div class="menu">
                        {% for product in products %}
                            <div class="item" data-value="{{product.id}}" value="{{ product.id }}" {{ 'selected' if promotion.selected else '' }}>{{ product.id }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Operation</h4>
            <div>
                <button class="ui button disabled" id="submit-btn" type="submit">Update</button>
                <button class="ui button red" type="button" id="btn-del">Remove</button>
                <button class="ui button red" type="button" id="btn-revoke">Revoke</button>
            </div>

            <input type="hidden" name="id" value="{{ promotion.id }}" class="hidden">
        </form>
    </div>
</div>

<script>
$('.ui.checkbox').checkbox();

$('select').dropdown();

$('#product-select').dropdown({
    hideAdditions: false,
    allowAdditions: true,
    onAdd: function(value, text, $selectedItem) {
        $.ajax({
            url: `/api/promotions/{{ promotion.id }}/bind/${value}`,
            type: 'PUT',
            success: function(result) {
                $.toast({
                    class: 'success',
                    message: `Product ${value} added and bound to promotion {{ promotion.code }}`,
                  });
                
                  $('#product-select').dropdown('save defaults');
            },
            error: function(result) {
                $('#product-select').dropdown('restore defaults', true);
                console.error(result);
                $.toast({
                    class: 'error',
                    message: `Failed to add product ${value} to ${result}`,
                  })
            }
        });
    },
    onRemove: function(value, text, $selectedItem) {
        $.ajax({
            url: `/api/promotions/{{ promotion.id }}/unbind/${value}`,
            type: 'DELETE',
            success: function(result) {
                $.toast({
                    class: 'success',
                    message: `Product ${value} removed and unbound from promotion {{ promotion.code }}`,
                  });

                $('#product-select').dropdown('save defaults');
            },
            error: function(result) {
                $('#product-select').dropdown('restore defaults', true);
                $.toast({
                    class: 'error',
                    message: `Failed to remove product ${value} from ${result.responseJSON.message}`,
                  })
            }
        });
    },
    onLabelSelect: function(label) {
        $.ajax({
            url: `/api/promotions/{{ promotion.id }}/bind/${label.value}`,
            type: 'PUT',
            success: function(result) {
                $.toast({
                    class: 'success',
                    message: `Product ${label} bound to promotion {{ promotion.code }}`,
                  });

                $('#product-select').dropdown('save defaults');
            },
            error: function(result) {
                $('#product-select').dropdown('restore defaults', true);
                $.toast({
                    class: 'error',
                    message: `Failed to add product ${label} to ${result.responseJSON.message}`,
                  })
            }
        });
    },
});

function submit_promotion(){
    $.ajax({
        url: '/api/promotions/{{ promotion.id }}',
        type: 'PUT',
        contentType: 'application/json',
        data:JSON.stringify({
            'name': $('input[name="name"]').val(),
            'code': $('input[name="code"]').val(),
            'start': $('input[name="start"]').val(),
            'expired': $('input[name="end"]').val(),
            'available': $('input[name="available"]').val(),
            'type': $('select[name="type"]').val(),
            'value': $('input[name="value"]').val(),
            'whole_store': $('input[name="whole_store"]').val(),
            'promo_type': $('select[name="type"]').val(),
        }),
        success: function(result) {
            $.toast({
                class: 'success',
                message: `Promotion {{ promotion.code }} updated`,
              });
        },
        error: function(result) {
            $.toast({
                class: 'error',
                message: `Failed to update promotion {{ promotion.code }}: ${result.responseJSON.message}`,
              });
        }
    });
}

function delete_promotion(){
  //using ajax to delete
  $.ajax({
    url: '/api/promotions/{{ promotion.id }}',
    type: 'DELETE',
    success: function(result) {
        $.toast({
            class: 'success',
            message: `Promotion {{ promotion.code }} deleted`,
          });

          window.location.href = '/promotions';
    },
    error: function(result) {
        $.toast({
            class: 'error',
            message: `Failed to delete promotion {{ promotion.code }}: ${result.responseJSON.message}`,
          });
    }
  });   
}

$(document).ready(function(){
    $('#btn-del').on('click', function(){
        $.ajax({
            url: '/api/promotions/{{ promotion.id }}',
            type: 'DELETE',
            success: function(result) {
                $.toast({
                    class: 'success',
                    message: `Promotion {{ promotion.code }} deleted`,
                  });
            },
            error: function(result) {
                $.toast({
                    class: 'error',
                    message: `Failed to delete promotion {{ promotion.code }}: ${result.responseJSON.message}`,
                  });
            }
        });
    });

    $('#btn-revoke').on('click', function(){
        $.ajax({
            url: '/api/promotions/{{ promotion.id }}/cancel',
            type: 'POST',
            success: function(result) {
                $.toast({
                    class: 'success',
                    message: `Promotion {{ promotion.code }} revoked`,
                  });
            },
            error: function(result) {
                $.toast({
                    class: 'error',
                    message: `Failed to revoke promotion {{ promotion.code }}: ${result}`,
                  });
            }
        });
    });

    $('#form_data').submit(function(e){
        e.preventDefault();
    });

    // handle the data change
    $('#form_data').on('change', 'input, select', function(){
        $('#submit-btn').removeClass('disabled');
    });

    $('#submit-btn').click(function(){
        submit_promotion();
    });

    $('#delete-btn').click(function(){
        delete_promotion();
    });
});
</script>